@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

.navbar-mobile-container {
  width: 100%;
  height: 100px;
  background-color: white;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 20px;
  height: 15px;
  right: 35px;
  top: 43px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: black;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #cb997e;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #cb997e;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  background-color: white;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: #cb997e;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.separator {
  height: 1px;
  width: 100px;
  background-color: #cb997e;
}

.logo-name-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logoContainer {
  height: 40%;
  display: flex;
}

.chloeTitle {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  color: #cb997e;
  letter-spacing: 3px;
  font-size: 14px;
}

.logoImage {
  object-fit: contain;
}

@media only screen and (min-width: 1024px) {
  .bm-burger-button {
    display: none;
  }

  .navbar-mobile-container {
    display: none;
  }
}
